# consider best way of doing this...
# mmpose (clone filipkro/mmpose.git to pose folder):
-r pose/mmpose/requirements.txt
#-r pose/mmpose/requirements/build.txt
#-r pose/mmpose/requirements/runtime.txt
#-r pose/mmpose/requirements/tests.txt
# dl-4-tsc (clone filipkro/dl-4-tlc.git to tsc folder):
-r tsc/dl-4-tsc/utils/pip-requirements.txt

# for mmdet:
mmcv-full

# clone mmdetection to mmpose folder
-r pose/mmpose/mmdetection/requirements.txt
#-v -e pose/mmpose/mmdetection/.
