# consider best way of doing this...
# clone mmpose from filipkro/mmpose to pose folder and mmdetection from
# filipkro/mmdetection to mmpose folder

-r pose/mmpose/requirements-cluster.txt
-r pose/mmpose/mmdetection/requirements-cluster.txt

# dl-4-tsc (clone filipkro/dl-4-tlc.git to tsc folder):
#-r tsc/dl-4-tsc/utils/requirements-cluster.txt
