# for mmdet:
mmcv-full

# consider best way of doing this...
# mmpose (clone filipkro/mmpose.git to pose folder):

-r pose/mmpose/requirements/runtime-cluster.txt

# dl-4-tsc (clone filipkro/dl-4-tlc.git to tsc folder):
#-r tsc/dl-4-tsc/utils/requirements-cluster.txt



# clone mmdetection to mmpose folder
#-r pose/mmpose/mmdetection/requirements.txt
-r pose/mmpose/mmdetection/requirements/build-cluster.txt
-r pose/mmpose/mmdetection/requirements/runtime-cluster.txt
